/* ------------------------------------Index------------------------------------ */
@font-face{
    font-family: "qatar";
    src: url('../fonts/Qatar2022Arabic-Heavy.ttf');
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 20px;
    overflow-x: hidden;
    a{
        text-decoration: none;
        cursor: pointer;
        color: none;
    }
    .active{
        color: $rojo-c;
    }
}



/*----------------------Header----------------------*/

.display{
    display: flex;
    justify-content: center;
    align-items: center;
}



header{
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgba(0, 0, 0, 0.476);
    z-index: 99;

    .nav-desktop{
        display: flex;
        align-items: center;
        height: 70px;
    };

    .container_logo{
        position: absolute;
        margin: 0;
        padding: 0;
    };

    div{
        img{
            height: 4.5em;
            margin-left: 100%;
            position: relative;
            top: -0.5em;
        }
    };

    nav {
            ul{
            position: absolute;
            right: 0;
            margin-right: 10%;
            margin-top: 18px;

                li{
                    display: inline;
                    margin: 0 0.4em;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 600;
                
                    a{
                        color: white;
                        font-size: 1em;
                        border-bottom: solid 3px transparent;
                    }
                
                    a:hover{
                        border-bottom: solid 3px #85414c;
                        transition: border 300ms ease-in-out;
                        color: white;
                    }
                }
            }
        };

    .nav-movile{
        display: none;
        background-color: transparent;
        border: none;
    };
    
    .botton_burger{
        border: none;
        color: transparent;

        span{
            color: white;
            border: none;
            font-size: 1.5em;
            padding-right: 10%;
            margin-top: 5px;
        }
    };

    .nav2{
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 20%;
        li{
            margin-left: 10%;
            padding-top: 5%;
            border-bottom: 1px solid rgba(255, 255, 255, 0.144)
        }
        
    };
}


/*----------------------Home----------------------*/

.home_inicio{
    z-index: 98;

    .home_inicio_img_fondo{
        background-image: url("../img/fondo_inicio.jpg");
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    .home_inicio_mitad_left{
        background-color: rgba(0, 0, 0, 0.4);
        height: 100vh;
        width: 40%;
        position: absolute;
        top: 0;
        left: 0;
    }
    
    .home_inicio_mitad_right{
        background-color: rgba(0, 0, 0, 0.4);
        height: 100vh;
        width: 60%;
        position: absolute;
        top: 0;
        right: 0;
    
        padding-right: 15%;
        padding-left: 5%;
    
        @include display;
        
        flex-direction: column;
            h1{
                font-size: 1.8em;
                color: white;
                font-family: 'Raleway', sans-serif;
                font-weight: 800;
                margin-bottom: 50px;
                border-bottom: medium solid $rojo-c;
                margin-right: auto;

                    span{
                        font-size: 1em;
                    }
            }

            p{
                font-size: 1.2em;
                color: white;
                margin-bottom: 40px;
                font-family: 'Raleway', sans-serif;
                font-weight: 400;
            }

            button{
                font-size: 0.55em;
                width: 12em;
                height: 3em;
                background-color: $rojo-c;
                font-family: 'Raleway', sans-serif;
                font-weight: 800;
                border: none;
                color: white;
                border-radius: 20px;
                cursor: pointer;
            }
            button:hover{
                background-color: $rojo-o;
                transition: all 300ms ease-in-out;
            }
    }
}


/* ----------------------fixture_inicio----------------------*/


.fixture_inicio{
    height: 55vh;
    width: 100%;
    display: flex;

        .mitad_rigth_top{
            width: 40%;
            position: relative;
            left: 0;
        
        
            @include display;
            span{
                font-size: 18em;
                transform: rotate(-90deg);
            }
        }

        .mitad_left_top{
            width: 60%;
            padding-left: 10%;
            height: 100%;

            @include display;
            
            flex-direction: column;
            h2{
                font-size: 1.5em;
                color: black;
                margin-right: auto;
                margin-bottom: 15px;
                font-family: 'Raleway', sans-serif;
                font-weight: 800;
                border-bottom: medium solid $rojo-c;
            }

            p{
                font-size: 1em;
                color: black;
                margin-bottom: 15px;
                font-family: 'Raleway', sans-serif;
                font-weight: 400;
            }

            button{
                font-size: 0.5em;
                width: 12em;
                height: 3em;
                background-color: $rojo-c;
                font-family: 'Raleway', sans-serif;
                font-weight: 800;
                border: none;
                color: white;
                border-radius: 20px;
                cursor: pointer;
            }

            button:hover{
                background-color: white;
                transition: all 300ms ease-in-out;
                border: solid 3px $rojo-c;
                color: $rojo-c;
            }
            
        }
}



/* ----------------------equipos----------------------*/


.equipos_inicio{
    height: 55vh;
    width: 100%;
    display: flex;
    background-color: $rojo-o;

        .mitad_rigth_bottom{
            padding: 0 20%;
            width: 100%;

            @include display;
            flex-direction: column;

                h2{
                    font-size: 1.5em;
                    color: white;
                    margin-right: auto;
                    margin-bottom: 15px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 800;
                }

                p{
                    font-size: 1em;
                    color: white;
                    margin-bottom: 15px;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 400;
                }

                button{
                    font-size: 0.5em;
                    width: 12em;
                    height: 3em;
                    background-color: white;
                    font-family: 'Raleway', sans-serif;
                    font-weight: 800;
                    border: none;
                    color: black;
                    border-radius: 20px;
                    cursor: pointer;
                }

                button:hover{
                    background-color: $rojo-o;
                    transition: all 300ms ease-in-out;
                    border: solid 3px white;
                    color: white;
                }
        }
}


/* ----------------------estadios----------------------*/

.estadios_inicio{
    height: 55vh;
    width: 100%;
    @include display;

        .mitad_left_top{
            padding-left: 10%;
            width: 50%;

            h2{
                font-size: 1.5em;
                color: black;
                margin: auto;
                margin-bottom: 15px;
                font-family: 'Raleway', sans-serif;
                font-weight: 800;
                border-bottom: medium solid $rojo-c;
                text-align: center;
            }

            p{
                font-size: 1em;
                color: black;
                margin-bottom: 15px;
                font-family: 'Raleway', sans-serif;
                font-weight: 400;
                text-align: center;
            }            
        }

        .mitad_rigth_top{
            @include display;
            width: 50%;
            padding-right: 8%;
                img{
                    width: 18em;
                    border-radius: 20px;
                }

                img:hover{
                    width: 20em;
                    transition: all 300ms ease-in-out;
                }
        }
}


/* ----------------------footer----------------------*/

footer{
    width: 100%;
    background-color: #4e4e4ea7;
    margin-top: 10%;

        h3{
            padding-top: 1em;
            font-family: 'Raleway', sans-serif;
            text-align: center;
            font-size: 1em;
            font-weight: 800;
        }

        .footer_politicas{
            @include display;

            a{
                color: black;
                font-family: 'Raleway', sans-serif;
                text-align: center;
                padding: 0px 0.5em;
                padding-top: 1em;
                font-size: 0.8em;
                font-weight: 800;
            }
        }
        .foter-icons{
            width: 100%;
            height: 70px;
            @include display;

            a{
                div{
                    width: 50px;
                    height: 50px;
                    background-size: cover;
                    background-repeat: none;
                    margin: 10px;
                }
                .github{
                    background-image: url(../img/iconsfooter/githubblack.png);
                }
                .github:hover{
                    background-image: url(../img/iconsfooter/githubcolor.png);
                }
                .linkedin{
                    background-image: url(../img/iconsfooter/linkedingblack.png);
                }
                .linkedin:hover{
                    background-image: url(../img/iconsfooter/linkedingcolor.png);
                }
            }
        }
        .subir{
            @include display;;
            
            flex-direction: column;
            a{
                color: black;
                font-family: 'Raleway', sans-serif;
                text-align: center;
                
            }
        }
        
    .footer-form{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
   
    .footer-form .form-horizontal {
        font-family: 'Lato';
        font-weight: 400;
    }
  
    .footer-form  .form-control {
        max-width: 400px;
        background-color: white;
        color: #000;
        letter-spacing: 1px;
        margin-bottom: 10px;
        font-family: 'Raleway', sans-serif;
    }
  
    .send-button {
        height: 34px;
        width: 400px;
        overflow: hidden;
        background-color: #5c0615;
    }

    .send-button:hover{
        background-color: #bb0927;
    }
             

}



@media(max-width: 1024px){
    body{
        font-size: 18px;
    }
/*----------------------Header----------------------*/
    header{
        .nav-desktop{
            display: none;
            z-index: 98;
        }

        .nav-movile{
            display: block;
        }

        div img{
            margin: 0;
        }
    } 

/*----------------------Home----------------------*/

    .home_inicio_img_fondo{
        background-position: center;
        
            .home_inicio_mitad_left{
                display: none;
            }
        
            .home_inicio_mitad_right{
                width: 100%;
                text-align: center;
                padding: 0px 5%;
                h1{
                    border: none;
                    margin: 0;
                    margin-bottom: 10%;
                }
                p{
                    margin: 0;
                    margin-bottom: 5%;
                }   
            }
    }



/* ----------------------fixture_inicio----------------------*/

    .fixture_inicio{
        height: 50vh;

            .mitad_rigth_top{
                display: none;
            }
        
            .mitad_left_top{
                width: 100%;
                padding: 0 5%;
                @include display;
        
                h2{
                    margin: 0;
                    margin-bottom: 10%;
                }
        
                p{
                    text-align: justify;
                    margin-bottom: 5%;
                }
            }
    }

/* ----------------------equipos----------------------*/
    .equipos_inicio{
        height: 50vh;
        
        .mitad_rigth_bottom{
            margin: 0;
            padding: 0 5%;
            text-align: center;
            
            h2{
                padding: 0;
                margin: 0;
                margin-bottom: 10%;
            }
    
            p{
                margin: 0;
                margin-bottom: 5%;
            }
        }
    }

/* ----------------------estadios----------------------*/

    .estadios_inicio{
        height: 50vh;
        flex-direction: column;
        align-items: center;
        
        .mitad_rigth_top{
            padding: 0;
            margin: 0;
            height: 40vh;
            width: 100%;
        }

        .mitad_left_top{
            height: 20vh;
            width: 100%;
            text-align: center;
            padding: 0;
            padding-top: 5%;

            h2{
                border: none;
                font-size: 1.3em;
                margin: 0;
            }

            p{
                padding: 0;
                margin: 5%;
            }
        
            img{
                width: 15em;
                border-radius: 20px;
                margin-bottom: 10%;
            }

            img:hover{
                height: 250px;
            }
        }

        .noticias_inicio div{
            grid-template-columns: 1fr 1fr;
        }
    }
}
